node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# environment variables
backend/env_variables.yaml
pc-api-5727760800932222854-915-324419e6d9ba.json
